// Test file
* {
  box-sizing: border-box;

  .child {
    padding: 0;
    margin: 0;
  }
}

body {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  margin: auto;
  overflow-x: hidden;
  padding-top: 65px;
}

#menu {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 2;
  background-color: #023047;
  width: 100%;
  top: 0;
  height: fit-content;

  .logo {
    width: 7%;
    height: 7%;
    padding: 10px 15px;
  }
  nav,
  ul,
  li,
  a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    width: 100%;
  }

  ul li a {
    display: flex;
    justify-content: center;
  }

  a {
    color: white;
    font-size: 11px;
    text-transform: uppercase;
    padding: 0 10px;
    border-right: 2px solid #ededed;
    text-align: center;
    margin-right: 5px;
  }
}

.header {
  // display: flex;
  width: 100%;
  background-color: #023047;
  h3 {
    padding-top: 15px;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    color: #495057;
  }
  h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 38px;
    color: white;
  }
}

.cdp {
  padding: 20px;
  // width: fit-content;

  h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    padding: 20px 0;
  }

  .img-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100%;
    border: 1px solid #ededed;
    margin-right: 50px;
    margin-bottom: 15px;
    -webkit-box-shadow: 0px 6px 78px 0px rgba(136, 142, 148, 0.77);
    -moz-box-shadow: 0px 6px 78px 0px rgba(136, 142, 148, 0.77);
    box-shadow: 0px 6px 78px 0px rgba(136, 142, 148, 0.77);
    h3 {
      font-size: 15px;
      padding-top: 10px;
      width: 400px;
      text-align: center;
    }

    img {
      padding-top: 10px;
    }
  }

  button {
    background-color: #f8a23f;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 14px;
    padding: 10px 20px;
    margin-top: 10px;
  }
}

.wrapper {
  background-color: #ededed;
  padding: 20px 0;
  .p-online {
    padding: 20px;

    .p-box {
      padding: 10px;
      h3:hover {
        color: #f8a23f;
      }

      .fa-chevron-right {
        position: relative;
        left: 10em;
        top: 1em;
      }
      .fa-chevron-right:hover {
      }
    }
    h2 {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 24px;
      padding: 20px 0;
    }

    h3 {
      font-size: 16px;
    }

    a {
      text-decoration: none;
      color: black;
      font-size: 16px;
      font-weight: 600;

      &:hover {
        text-decoration: underline;
      }
    }

    article {
      display: flex;
      margin-top: 10px;
      padding: 10px 0 0 10px;
      border: 2px solid #ededed;
      border-radius: 20px;
      background-color: white;
      -webkit-box-shadow: 0px 6px 78px 0px rgba(136, 142, 148, 0.77);
      -moz-box-shadow: 0px 6px 78px 0px rgba(136, 142, 148, 0.77);
      box-shadow: 0px 6px 78px 0px rgba(136, 142, 148, 0.77);

      h3 {
        font-weight: bold;
        font-size: 20px;
      }
      p {
        padding: 0;
      }
      // .fa-chevron-right {
      //   display: flex;
      //   justify-content: end;
      // }
    }
  }
}

.reg-1 {
  padding: 20px 0;
  .reg-2 {
    padding: 20px;
  }

  h2 {
    padding: 20px 0;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
  }
  p {
    color: #789;
    font-weight: 600;
  }
  span {
    display: block;
  }
  button {
    background-color: #f8a23f;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 14px;
    padding: 10px 20px;
    margin-top: 10px;
  }
}

.newsletter {
  padding: 100px 0;
  .news-2 {
    padding: 20px;
  }

  h2 {
    padding: 20px 0;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
  }
  p {
    color: #789;
    font-weight: 600;
  }
  span {
    display: block;
  }
  button {
    background-color: #f8a23f;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 14px;
    padding: 10px 30px;
    margin-top: 10px;
    border-radius: 20px;
  }
}
