* {
  box-sizing: border-box; }
  * .child {
    padding: 0;
    margin: 0; }

.row,
.col {
  padding: 0;
  margin: 0; }

body {
  font-family: "Montserrat", "Arial", "Helvetica", sans-serif;
  margin: auto;
  overflow-x: hidden;
  padding-top: 65px; }

h1 {
  font-size: 48px;
  font-family: "Libre Baskerville", "Times New Roman", serif;
  color: #fff;
  font-weight: bold; }

h2 {
  font-family: "Montserrat", "Arial", "Helvetica", sans-serif;
  font-size: 24px;
  color: #112233;
  font-weight: bold; }

#menu {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 2;
  background-color: #023047;
  width: 100%;
  top: 0;
  height: fit-content; }
  #menu .logo {
    width: 7%;
    height: 7%;
    padding: 10px 15px; }
  #menu nav,
  #menu ul,
  #menu li,
  #menu a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    width: 100%; }
  #menu ul li a {
    display: flex;
    justify-content: center; }
  #menu a {
    color: white;
    font-size: 11px;
    text-transform: uppercase;
    padding: 0 10px;
    border-right: 2px solid #ededed;
    text-align: center;
    margin-right: 5px; }

.header {
  width: 100%;
  background-color: #023047; }
  .header h3 {
    font-family: "Montserrat", "Times New Roman", serif;
    padding-top: 15px;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    color: #ffffff80;
    font-weight: bold; }
  .header h1 {
    text-align: center;
    text-transform: uppercase; }

.cdp {
  padding: 20px; }
  .cdp h2 {
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px 0; }
  .cdp .img-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100%;
    border: 1px solid #ededed;
    margin-right: 50px;
    margin-bottom: 15px;
    -webkit-box-shadow: 0px 6px 78px 0px rgba(136, 142, 148, 0.77);
    -moz-box-shadow: 0px 6px 78px 0px rgba(136, 142, 148, 0.77);
    box-shadow: 0px 6px 78px 0px rgba(136, 142, 148, 0.77); }
    .cdp .img-box h3 {
      font-size: 15px;
      padding-top: 10px;
      width: 400px;
      text-align: center; }
    .cdp .img-box img {
      padding-top: 10px; }
  .cdp button {
    background-color: #f8a23f;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 14px;
    padding: 10px 20px;
    margin-top: 10px; }

.wrapper {
  background-color: #ededed;
  padding: 20px 0; }
  .wrapper .p-online {
    padding: 20px; }
    .wrapper .p-online .p-box {
      padding: 10px; }
      .wrapper .p-online .p-box h3:hover {
        color: #f8a23f; }
      .wrapper .p-online .p-box .fa-chevron-right {
        position: relative;
        left: 10em;
        top: 1em; }
    .wrapper .p-online h2 {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 24px;
      padding: 20px 0; }
    .wrapper .p-online h3 {
      font-size: 16px; }
    .wrapper .p-online a {
      text-decoration: none;
      color: black;
      font-size: 16px;
      font-weight: 600; }
      .wrapper .p-online a:hover {
        text-decoration: underline; }
    .wrapper .p-online article {
      display: flex;
      margin-top: 10px;
      padding: 10px 0 0 10px;
      border: 2px solid #ededed;
      border-radius: 20px;
      background-color: white;
      -webkit-box-shadow: 0px 6px 78px 0px rgba(136, 142, 148, 0.77);
      -moz-box-shadow: 0px 6px 78px 0px rgba(136, 142, 148, 0.77);
      box-shadow: 0px 6px 78px 0px rgba(136, 142, 148, 0.77); }
      .wrapper .p-online article h3 {
        font-weight: bold;
        font-size: 20px; }
      .wrapper .p-online article p {
        padding: 0; }

.wrapper-reg {
  padding: 50px 0; }
  .wrapper-reg .reg-1 {
    padding: 20px 0; }
    .wrapper-reg .reg-1 #display-none {
      visibility: hidden; }
    .wrapper-reg .reg-1 h2 {
      padding: 20px 0;
      font-size: 24px;
      font-weight: bold;
      text-transform: uppercase; }
    .wrapper-reg .reg-1 p {
      color: #789;
      font-weight: 600;
      margin: 0; }
    .wrapper-reg .reg-1 span {
      display: block; }
    .wrapper-reg .reg-1 button {
      background-color: #f8a23f;
      text-transform: uppercase;
      color: white;
      font-weight: bold;
      font-size: 14px;
      padding: 10px 20px;
      margin-top: 10px; }

.wrapper-news {
  background-color: #ededed;
  padding: 5px 0; }

.newsletter {
  padding: 50px 0; }
  .newsletter .news-2 {
    background-color: #ededed;
    padding: 20px; }
  .newsletter h2 {
    padding: 20px 0;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase; }
  .newsletter p {
    color: #789;
    font-weight: 600; }
  .newsletter span {
    display: block; }
  .newsletter button {
    background-color: #f8a23f;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 14px;
    padding: 10px 30px;
    margin-top: 10px;
    border-radius: 20px; }

.wrapper-footer {
  background-color: #112233;
  padding: 30px;
  margin: 0; }
  .wrapper-footer .w-footer h4 {
    margin-bottom: 15px;
    font-size: 12px;
    font-family: "Montserrat", "Arial Black", sans-serif;
    color: #445566; }
  .wrapper-footer .w-footer p {
    font-size: 13px;
    font-family: "Montserrat", "Arial", sans-serif;
    color: #778899; }
  .wrapper-footer .w-footer span {
    display: block;
    font-size: 13px;
    font-family: "Montserrat", "Arial", sans-serif;
    color: #778899; }
  .wrapper-footer .w-footer ul {
    margin: 0;
    padding: 0; }
  .wrapper-footer .w-footer a {
    font-size: 13px;
    font-family: "Montserrat", "Arial", sans-serif;
    color: #778899;
    text-decoration: none; }
    .wrapper-footer .w-footer a:hover {
      color: #ededed; }
  .wrapper-footer .w-footer li {
    list-style: none;
    margin-bottom: 5px; }
